# Project files that can be stored in repository's directory
Projects/
Projects/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pkl
*$py.class

# pycharm project settings
.idea/
.idea/*

# Graphics design files
*.cdr
*.gds

# C extensions
*.so

# Jupyter Notebook
*.ipynb_checkpoints

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Sonnet temporary files and tables like .xls/xlsx/csv
*.xls
*.xlsx
*.csv
*.son
*.sid

# VSCode project settings
*.vscode/
*.vscode/*

# Visual Studio project
*.vs
*.vs/*